body {
  background-color: #fff;
  color: #000;
}

.cemetery-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.grave { position: relative; }
.grave > a { color: #000; }

.tombstone-container {
  position: relative;
  width: 275px;
  height: 365px;
  display: inline-block;
  text-align: center;
}

.tombstone { width: 100%; }

.grave-name {
  position: absolute;
  left: 17%;
  top: 50%;
  width: 60%;
  font-weight: bold;
}

.pepe { height: 30px; }

.grave-years {
  position: absolute;
  left: 26%;
  top: 61%;
  width: 40%;
}

.grave-page-container { max-width: 700px; }

.grave-description { font-size: 1.5em; }
.grave-description p:not(:first-child) { margin: 1.5em 0; }

.four-o-four { font-size: 10em; }

.text-chalk { font-family: 'Gloria Hallelujah', cursive; }
.text-cursive { font-family: 'Courgette', cursive; }
