<div class=" grave-page-container container">
  <div class="grave text-center" ng-if="shouldShow">
    <div class="tombstone-container">
      <img class="tombstone" src="img/tombstone-custom.jpg">
      <div class="text-chalk grave-name">
        {{ userData.name }}
        <img src="../img/pepe.jpg" class="pepe" alt="sadness">
      </div>
      <div class="grave-years text-chalk" ng-bind="userData.yearsLived"></div>
    </div>
    <div class="grave-description text-cursive" ng-bind-html="userData.description | toTrusted"></div>
  </div>

  <div class="text-center text-cursive" ng-if="!shouldShow && fourOFour">
    <div class="four-o-four">4👻4</div>
    <div class="h2">Seems like they're not dead yet.</div>
  </div>
</div>
