<div class="container cemetery-container">
  <div class="row">
    <div class="grave col-md-3 col-sm-6 col-xs-12 text-center" ng-repeat="g in graves">
      <a ng-href="{{g.username}}"> 
        <div class="tombstone-container">
          <img class="tombstone" src="img/tombstone-custom.jpg">
          <div class="text-chalk grave-name">
            {{ g.name }}
            <img src="../img/pepe.jpg" class="pepe" alt="sadness">
          </div>
          <div class="text-chalk grave-years" ng-bind="g.yearsLived"></div>
        </div>
      </a>    
    </div>
  </div>
</div>